<div class="container" id="about">
	<h1>What is this?</h1>
	<p>You love coffee? Then you are in the right place as this is meant to be a resource for fellow coffee addicts.</p>
	<p>There's a plethora of good coffee roasters and cafés in Berlin. This site will help you find them and their products.</p>
</div>