<table>
  <tbody>
    <tr>
      <td><h4>Thank you for your purchase, <%= @user.first_name %>!</h4></td>
    </tr>
    <tr>
      <td><p> We have charged EUR <%= @cart.total_price %> to your card.</p></td>
    </tr>
    <tr>
    	<td><p> We hope you enjoy the coffee! </p></td>
    </tr>
  </tbody>
</table>