<table>
  <tbody>
    <tr>
      <td><p>Thank you for registering with BerlinCoffee!</p></td>
    </tr>
    <tr>
      <td><p>We are very happy to have you on board, <%= @user.first_name %>!</p></td>
    </tr>
  </tbody>
</table>