<div class="card">
  <div class="card-body">
		<h4>Thank you for your purchase, <%= @user.first_name %>!</h4>
		<p> We have charged <%= number_to_euro @cart.total_price %> to your card and sent a confirmation e-mail to <%= @stripe_email %>.</p>
		<br>
		<p> We hope you enjoy the coffee! </p>	
	</div>
</div>

<%= button_to "Our Coffees", products_path, method: :get,  class: "submit-btn" %>