/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* { box-sizing: border-box; }

body {
	color: #8A3324;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

.container {
	padding: 3% 0;
}

/* Typography */
h1,
h2 {
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 20px;
}

/* Navbar */
.navbar-dark {
	background-color: #8A3324;
}

.navbar li {
	padding: 0 10px;
}

.btn-outline-light {
	color: #FDBEB4;
	border-color: #FDBEB4;
}

.btn-outline-light:hover {
		color: #8A3324;
		border-color: #8A3324;
		background-color: #FDBEB4;
}

/* Footer always flush at bottom */
.main {
	background-color: #FDBEB4;
	min-height: calc(100vh - 216px); //nav is 66px and footer is 150px
}

footer {
	background-color: #8A3324;
	text-align: center;
	height: 150px;
	position: relative;
}

.social-buttons {
	list-style-type: none;
	margin: 0;
  padding: 0;
}

footer li {
	display: inline-block;
	font-size: 2em;
	padding: 20px 20px 0;
}

i {
	color: #FDBEB4;
}

.copy {
	position: absolute;
	bottom: 0;
	left: 50%;
}

.copy p {
	position: relative;
	left: -50%;
	color: #FDBEB4;
}
