// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-img img {
  width: 100%;
}

.product-info,
.product-info-show {
  padding: 5% 3% 1% 3%;
}

@media only screen and (min-width: 768px) {
  .product-info-show {
    padding: 0% 5% 0% 5%;
  }
}

.stars {
  padding-right: 0;
  float: right;
}

.product-buttons p {
  float: right;
  padding-right: 2%;
}

p.v-line::after {
  content: "";
  position: absolute;
  width: 0.1em;
  height: 1em;
  margin-left: 1%;
  margin-top: 1%;
  background: #8A3324;
}

.price {
  text-align: right;
}

.submit-btn {
  color: #8A3324;
  border-color: #8A3324;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.next-button {
  float: right;
}

.product-comments {
  padding: 3% 5% 1% 5%;
  width: 100%;
}

.card {
  margin-bottom: 1%;
}

