// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-img {
  position: relative; // necessary to be able to position img within this div
  width: 100%; // height is defined in JS (height = width)
  overflow: hidden; // content will be cropped
}

.product-img img {
  position: absolute;
  width: 100%; 
  top: 50%; // top, left, transform trick to vertically and horizontally center image
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

.product-img img.landscape {
  height: 100%;
  width: auto;
}

.product-info,
.product-info-show {
  padding: 5% 3% 1% 3%;
}

@media only screen and (min-width: 768px) {
  .product-info-show {
    padding: 0% 5% 0% 5%;
  }
}

.stars {
  padding-right: 0;
  float: right;
}

.product-buttons p {
  float: right;
  padding-right: 2%;
}

p.v-line::after {
  content: "";
  position: absolute;
  width: 0.1em;
  height: 1em;
  margin-left: 1%;
  margin-top: 1%;
  background: #8A3324;
}

.price {
  text-align: right;
}

.submit-btn {
  color: #8A3324;
  border-color: #8A3324;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.next-button {
  float: right;
}

.product-comments {
  padding: 3% 0% 1% 0%;
  width: 100%;
}

.card {
  margin-bottom: 1%;
}

.col-1 .row {
  border: 1px solid red;
}
