<div class="container" id="products">
  <p id="notice"><%= notice %></p>

  <h1>Products</h1>

  <div class="container-fluid">
    <div class="row">
      <%= render @products %> <!-- short hand for rendering 'partial: "product"', looping through "@products" and making variable "product" available locally in partial. -->
    </div><!-- end row -->
  </div>
  
  <br>
  
  <%= button_to 'New Product', new_product_path, method: :get, class: "submit-btn" %>

</div>