  <h1>Products</h1>

  <div class="container-fluid">
    <div class="row">
    <% cache (cache_key_for_products) do %>
      <%= render @products %> <!-- short hand for rendering 'partial: "product"', looping through "@products" and making variable "product" available locally in partial. -->
    <% end %>
    </div><!-- end row -->
  </div>
  
  <br>
  
  <%= button_to 'New Product', new_product_path, method: :get, class: "submit-btn" %>
